/build/
.idea/
.vscode/
/cmake-*/
/out/
/.vs/
*cppcheck*
/CMakeSettings.json

*~
*.a
*.so
*.dll
*.lib
*.o
*.log

/cmake_vars.cmake
/doxygen.out.d/
*.core
*.kdev4
*.bat
/CMakeLists.txt.user
CMakeSettings.json
.unioncode
configure
/autotools
/autom4te.cache
/config.guess
/config.log
/config.status
/configure
/configure.scan
/config.h
/config.h.in
/config.h.in~
/config.h.in.save
/config.h.save
/config.sub
/config.status.in
/config.guess.in
/config.sub.in
/config.rpath
/config.rpath.in
/config.cache
/install-sh
/missing
/Makefile.in
/Makefile.am
a.out
/aclocal.m4
.*/
xmake-build
xmake-build-*
/Folder.DotSettings
build*
